.back-button {
    position: absolute;
    padding: 0% 2%;
    top: 0px;
    left: 0px;
    font-size: 25px;
    color: #80e5c8;
    text-decoration: none;
    background-color: #1a1a1acc;
    font-weight: bold;
    margin: 1.5vh;
}

.back-button:hover {
    color: #64c8aa;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('../img/jogadores.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
}

h1 {
    color: #80e5c8;
    text-shadow: 2px 2px 3px #1a1a1a;
    text-align: center;
    margin-bottom: 2rem;
}

#character-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    width: 90%;
    max-width: 1000px;
    padding: 1rem;
    background-color: #1a1a1acc;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

button {
    background-color: #5ead97;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

button:hover {
    background-color: #64c8aa;
}

@media (max-width: 600px) {
    h2 {
        font-size: 20px;
    }

    button {
        font-size: 14px;
    }
}
